[user]
    name = Alex Davidovich
	email = alxsad@gmail.com
[color]
    ui = true
[alias]
    lg  = log --graph --color --pretty=format:'%C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(green)(%cr) %C(bold blue)<%an>%C(reset)' --
    co  = checkout
    cob = checkout -b
    ci  = commit
    cim = commit -m
    p   = push
    pp  = push origin
    f   = fetch -p
    bd  = branch -d
    bD  = branch -D
    st  = status
    br  = branch
    aa  = add .
    a   = add
    df  = diff --cached
    sl  = stash list
    sp  = stash pop
    sc  = stash clear
    ss  = stash
[push]
    default = current
[http]
    sslVerify = true
[core]
    editor = vim

